// .caorusel-container{
//     height: 400px;
// }

.carousel-inner{
    height: 100%;
}
.carousel-item{
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 100%;    
    
}
.carousel-caption{
    background: #fffbfbab;
    border-radius: 15px;
}
.carousel-control-next
{
    span{
        margin: 0;
    }
}
.test-carousel{
    // background-image: url("https://loremflickr.com/320/240");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center;
 background-size: cover;
}
@media only screen and (min-width: 1200px)  {
    .carousel-container{
    
  img{
    // max-height: 480px;

  }

}
}