.gallery {
    -webkit-column-count: 3;
    -webkit-column-width: 33%;
    columns: 33% 3;
    padding: 0 12px;
}
.gallery .pics {
    cursor: pointer;
    margin-bottom: 12px;
    transition: all 0.35s ease;
}
img {
    width: 100%;
    vertical-align: middle;
    // max-height: 400px;
    object-fit: cover;
<<<<<<< Updated upstream
}
=======
}
.arrow.arrow-next .arrow-top,
.arrow.arrow-prev .arrow-top {
    width: 35px;
    left: -10px;
}

@media all and (max-width: 800px) {
    .gallery {
        columns: 2;
    }
}

@media all and (max-width: 400px) {
    .gallery {
        columns: 1;

        .pics {
            pointer-events: none;
        }
    }
}

@media all and (min-width: 1400px) {
    .gallery {
        columns: 4;
    }
}
>>>>>>> Stashed changes
