.gallery {
    -webkit-column-count: 3;
    -webkit-column-width: 33%;
    columns: 33% 3;
    padding: 0 12px;
}
.gallery .pics {
    cursor: pointer;
    margin-bottom: 12px;
    transition: all 0.35s ease;
}
img {
    width: 100%;
    vertical-align: middle;
    // max-height: 400px;
    object-fit: cover;
}
.arrow.arrow-next .arrow-top,
.arrow.arrow-prev .arrow-top {
    width: 35px;
    left: -10px;
}
.gallery-gotop-button{
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 2px springgreen;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    justify-content: center;
    align-items: center;
    transform: translate(-10%, -100%);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(188deg, rgba(159, 5, 255, 0.4117647059) 10%, rgba(253, 94, 8, 0.4196078431) 100%);
    path{
        fill: white;
        opacity: 0.6;
    }
}
.gallery-btn-fade-in{
    opacity: 1;
}
.gallery-btn-fade-out{
    opacity: 0;
}
@media all and (max-width: 850px) {
    .gallery {
        columns: 2;
    }
    .gallery-gotop-button{
        display: flex;
    }
}

@media all and (max-width: 500px) {
    .gallery {
        columns: 1;

        .pics {
            pointer-events: none;
        }
    }
}

@media all and (min-width: 1400px) {
    .gallery {
        columns: 4;
    }
}

.arrow.arrow-next .arrow-top, .arrow.arrow-prev .arrow-top{
    width: 35px;
    left: -10px;
}

